
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAnimalLabel" translate="ancestryApp.animal.home.createOrEditLabel">Create or edit a Animal</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="animal.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ancestryApp.animal.animalName" for="field_animalName">AnimalName</label>
            <input type="text" class="form-control" name="animalName" id="field_animalName"
                    ng-model="animal.animalName"
                    required />
            <div ng-show="editForm.animalName.$invalid">
                <p class="help-block"
                    ng-show="editForm.animalName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="ancestryApp.animal.animalSpecies" for="field_animalSpecies">animalSpecies</label>
            <select class="form-control" id="field_animalSpecies" name="animalSpecies" ng-model="animal.animalSpecies" ng-options="animalSpecies as animalSpecies.animalSpeciesName for animalSpecies in animalspeciess track by animalSpecies.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
